# Lesson 1

## Loading libraries

In [ ]:
import pandas as pd
import numpy as np

## Load the dataset

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/UNIT1/DAY2/Afternoon/dataset.csv')
data.head()

         id state gender  ...  median_household_income    avggift  target_d
0   44060.0    FL      M  ...                    392.0  28.000000     100.0
1   96093.0    IL      M  ...                    365.0   5.666667       7.0
2   43333.0    FL      F  ...                    301.0   4.111111       5.0
3   21885.0    NC      M  ...                    401.0  27.277778      38.0
4  190108.0    FL      F  ...                    252.0   6.000000       5.0

[5 rows x 11 columns]

## Exploring null values ie. `NAs`

Getting the NA's of a dataframe

In [ ]:
data.isna()

         id  state  gender  ...  median_household_income  avggift  target_d
0     False  False   False  ...                    False    False     False
1     False  False   False  ...                    False    False     False
2     False  False   False  ...                    False    False     False
3     False  False   False  ...                    False    False     False
4     False  False   False  ...                    False    False     False
...     ...    ...     ...  ...                      ...      ...       ...
3996   True  False   False  ...                     True    False     False
3997   True  False   False  ...                     True    False     False
3998   True  False   False  ...                     True    False     False
3999   True  False   False  ...                     True    False     False
4000   True  False   False  ...                     True    False     False

[4001 rows x 11 columns]

Counting the NA's for each column

In [ ]:
data.isna().sum()

id                         2001
state                         0
gender                      133
ic2                           1
ic3                           0
ic4                           1
ic5                           6
median_home_val            2006
median_household_income    2001
avggift                       0
target_d                      0
dtype: int64

Now we can compute the percentage of NA's by column.

In [ ]:
round(data.isna().sum()/len(data),4)*100

id                         50.01
state                       0.00
gender                      3.32
ic2                         0.02
ic3                         0.00
ic4                         0.02
ic5                         0.15
median_home_val            50.14
median_household_income    50.01
avggift                     0.00
target_d                    0.00
dtype: float64

Creating a new dataframe with this information

In [ ]:
nulls_df = pd.DataFrame(round(data.isna().sum()/len(data),4)*100)
nulls_df.head()

            0
id      50.01
state    0.00
gender   3.32
ic2      0.02
ic3      0.00

We would like to have the column name as another column, instead of being the index.

In [ ]:
nulls_df = nulls_df.reset_index()
nulls_df.head()

    index      0
0      id  50.01
1   state   0.00
2  gender   3.32
3     ic2   0.02
4     ic3   0.00

Much better, however, we would like to replace the column's names by new ones.

In [ ]:
nulls_df.columns = ['header_name', 'percent_nulls']
nulls_df

                header_name  percent_nulls
0                        id          50.01
1                     state           0.00
2                    gender           3.32
3                       ic2           0.02
4                       ic3           0.00
5                       ic4           0.02
6                       ic5           0.15
7           median_home_val          50.14
8   median_household_income          50.01
9                   avggift           0.00
10                 target_d           0.00

## Dropping columns with too much NA's

We are going to see how to drop all the columns which contain a threshold value of NA's equal to 3%. This value is very restrictive, but is just an example. To this end, we would like to first filter according to the `percent_nulls`and then, get the columns `header_name`.

In [ ]:
columns_drop = nulls_df[nulls_df['percent_nulls']>3]['header_name']
print(columns_drop.values)

['id' 'gender' 'median_home_val' 'median_household_income']

## Replacing null values

If a column has too many NA's is not informative and therefore it can be dropped. If not, we have two possibilities:

* replace those null values if we have some `business background information` or a `reasonable` guess
* drop only rows for which the column has missing values (ideally an small amount of rows).

The strategy to follow depends on: how many missing values has the column and the availability of a `business background information` or a `reasonable` guess.

Let's start checking which one particular column

In [ ]:
data[data['gender'].isna() == True]

            id state gender  ...  median_household_income    avggift  target_d
15     73699.0    MI    NaN  ...                    463.0  11.285714      15.0
21    114721.0    OK    NaN  ...                    472.0  11.666667      15.0
22    111795.0    AR    NaN  ...                    208.0   5.000000       5.0
54    190671.0    CA    NaN  ...                    280.0   9.260870      14.0
77    156324.0  Cali    NaN  ...                    431.0   8.750000      15.0
...        ...   ...    ...  ...                      ...        ...       ...
3790       NaN    TN    NaN  ...                      NaN   5.300000      11.0
3860       NaN    KY    NaN  ...                      NaN  10.285714      19.0
3894       NaN    TN    NaN  ...                      NaN  10.750000      15.0
3946       NaN    MI    NaN  ...                      NaN  15.000000      25.0
3966       NaN    FL    NaN  ...                      NaN   7.320000       5.0

[133 rows x 11 columns]

In [ ]:
data = data[data['ic2'].isna() == False]
data

            id state gender  ...  median_household_income    avggift  target_d
0      44060.0    FL      M  ...                    392.0  28.000000     100.0
1      96093.0    IL      M  ...                    365.0   5.666667       7.0
2      43333.0    FL      F  ...                    301.0   4.111111       5.0
3      21885.0    NC      M  ...                    401.0  27.277778      38.0
4     190108.0    FL      F  ...                    252.0   6.000000       5.0
...        ...   ...    ...  ...                      ...        ...       ...
3996       NaN    MI      F  ...                      NaN   8.533333       5.0
3997       NaN    FL      M  ...                      NaN  14.692308      20.0
3998       NaN    CA      F  ...                      NaN  12.117647      22.0
3999       NaN    CA      M  ...                      NaN  12.333333      21.0
4000       NaN    MI      M  ...                      NaN  17.142857      25.0

[4000 rows x 11 columns]

Now let's see how we can replace the missing values of a column with the mean **as one possible strategy of imputation**.

First we compute the mean

In [ ]:
mean_median_home_value = np.mean(data['median_home_val'])

Now we know the mean, make the **imputation**

In [ ]:
data['median_home_val'] = data['median_home_val'].fillna(mean_median_home_value)

## Activity 1

1. Load data (file1.csv) in a new Jupyter notebook.

2. Write the code to filter out  the rows which have null values on columns 'ic4' and 'ic5' in the dataframe.

3. Use the head() to check the new dataframe.

4. Is it better to fill null values with the mean or with the median?

As a general rule, one can say that if the data in the column has a lot of outliers, then it is preferable to choose median over mean, otherwise you can choose the mean. One advantage when you use these imputation techniques is that you do not change the mean or median of the column. It is important to note that these are not the only means of doing that. There are a lot of other methods that can be employed, which we will take a look at, in later sessions. Sometimes the missing values in the numerical column are simply replaced by a constant, usually 0. It is very case dependent. There are no hard/fixed rules.

2. Can we drop all rows with null values?

Generally speaking, it would not be a good idea as you lose all the information from other columns where you do have information available. So you have to be careful when you filter out the rows with null values. You can check the percentage of data that you might lose in doing so and if it makes sense to lose that or not.

# Lesson 2

## Replacing null values in `categorical` columns

Let's start counting how many possible values has a given column

In [ ]:
data['gender'].value_counts(dropna=False)

F          1947
M          1466
NaN         133
male        126
female      106
Female       75
U            68
Male         33
J            23
feamale      15
A             1
Name: gender, dtype: int64

Now that we know that `gender` column have some NA's, let's assing the value `F`

In [ ]:
data['gender'] = data['gender'].fillna('F')
data['gender'].value_counts(dropna=False)

F          2080
M          1466
male        126
female      106
Female       75
U            68
Male         33
J            23
feamale      15
A             1
Name: gender, dtype: int64

## Exporting data

Now we're going to save our dataframe.

In [ ]:
data.to_csv('/content/drive/MyDrive/UNIT1/DAY2/Afternoon/merged_clean_ver1.csv')

## Lambda functions

Lambda functions are user defined functions which we usually use once and we don't care about storing them.

In [ ]:
y = lambda x: x+2
print(y(2))

4

In [ ]:
square = lambda x: x*x
square(4)

16

In [ ]:
addition = lambda x,y : x+y
addition(1,3)

4

Let's compute the square of all the elements inside a list 

First let's use a `for` loop.

In [ ]:
lst = [1,2,3,4,5,6,7,8,10]
new_list = []
for item in lst:
    new_list.append(square(item))
new_list

[1, 4, 9, 16, 25, 36, 49, 64, 100]

Now let's use `list comprehension`

In [ ]:
new_list = [square(item) for item in lst]
new_list

[1, 4, 9, 16, 25, 36, 49, 64, 100]

We can add conditions inside the `list comprehensions`

In [ ]:
new_list = [square(item) for item in lst if item%2==0]
new_list

[4, 16, 36, 64, 100]

## Activity 2

1. Import the data from merged_clean_ver1.csv as a dataframe. There would be a column with the sequence of numbers (to the left of column id). Drop that column(s).

2. Check the column state for null values. Replace those null values with the state that is represented largest number of times in that column

3. Lambda expression.

* Create a simple lambda expression to add three numbers. Take those three numbers as input from the user. (Since you will accept only numbers as valid inputs, check this example to see how to do it.)

Keep in mind that every user input is considered an `string`by Python. Therefore, you will need to switch it to integer

* Define a list as lst = [1,2,3,4,5,6,7,8,10]. Write a lambda expression to find the cube of a number. Use that lambda expression to find the cube of every number in the list. Define a list comprehension for this question.

# Lesson 3

## Map functions

In [ ]:
data.columns = list(map(lambda x: x.lower(), data.columns))

## Getting unique values of a column

In [ ]:
data['gender'].unique()

array(['M', 'F', 'female', 'Male', 'U', 'J', 'male', 'Female', 'feamale',
       'A'], dtype=object)

In [ ]:
data['gender'] = list(map(lambda x: x.upper(), data['gender']))

In [ ]:
data['gender'].unique()

array(['M', 'F', 'FEMALE', 'MALE', 'U', 'J', 'FEAMALE', 'A'], dtype=object)

## User defined function

In contrast with lambda functions, ùser defined functions` are functions that we can define and we will use often.

The syntax is: 

```
def function_name(arg1, arg2,...,argn):
    command1
    command2
    [return variable]
```

We can use the function just calling using the function name and providing the arguments:

```
function_name(a, b, c,...,n)
```

When we do this, arg1 = a, arg2 = b,...., argn = n

In [ ]:
def clean(x):
    if x in ['M', 'MALE']:
        return 'Male'
    elif x.startswith('F'):
        return 'Female'
    else:
        return 'U'

Let's see a first application of a user defined function over all the elements of a df column.

In [ ]:
data['gender'] = list(map(clean, data['gender']))

In this case, we don't need to provide the arguments of the function, because the function will take the values of data['gender'] one by one.

In [ ]:
data['gender'].unique()

array(['Male', 'Female', 'U'], dtype=object)

## Activity 3

Try to convert the following functions to lambda functions:

1.
```
def function_1(a,b):
    c=a+b
    return c
```

2.
```
def function_2(a,b):
    c=0
    for i in range(a):
        c+=2*b
    return c
```

3.
```
def function_3(a,b):
    c=0
    if a>3:
        c=12
    else:
        c='Too big.'
    return c
```

1.

2.

3.

# Lesson 4

## Working with dates: datetime

In [2]:
import pandas as pd
import numpy as np
file = pd.read_csv('merged_clean_ver1')
file.head()

FileNotFoundError: [Errno 2] File merged_clean_ver1 does not exist: 'merged_clean_ver1'

In [ ]:
file.dtypes

Unnamed: 0       int64
client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

As you can see, the `date_time` column has been understood by Python as a `categorical` variable as it contains characters. However, this is not `categorical`, is a date. Fortunatelly, there is an special type of variable to handle dates: datetime.
Let's convert the `date_time` column to a date.

In [ ]:
file['date_time'] = pd.to_datetime(file['date_time'], errors='coerce')

Double check

In [ ]:
file.dtypes

Unnamed: 0               int64
client_id                int64
visitor_id              object
visit_id                object
process_step            object
date_time       datetime64[ns]
dtype: object

We can see that now the `date_time` column type is correct.

Now, let's get some usefull unformation from this column. We can get the day from it.

In [ ]:
file['date_time'][0].day

17

We can also obtain the month

In [ ]:
file['date_time'][0].month

4

And the year.

In [ ]:
file['date_time'][0].year

2017

The day of the week

In [ ]:
file['date_time'][0].isoweekday()  # Returns 1 for Monday and so on

1

The hour in h, min.

In [ ]:
file['date_time'][0].time()

datetime.time(15, 27)

In [ ]:
file['date_time'][0].isoweekday()

1

The full date_time

In [ ]:
file['date_time'][0].isoformat()

'2017-04-17T15:27:00'

We can also specify to display the date in a different format.

In [ ]:
file['date_time'][0].strftime(format='%d-%m-%Y')

'17-04-2017'

In [ ]:
file['date_time'][0].strftime(format='%d/%m/%Y')

'17/04/2017'

Another format

In [ ]:
file['date_time'][0].strftime(format="%A %d. %B %Y")

'Monday 17. April 2017'

## Working with local time

In [ ]:
import time
from datetime import date

Getting the current date

In [ ]:
today = date.today()
today

datetime.date(2021, 1, 5)

Getting the `local` time: the time of where the computer is running.

In [ ]:
time.localtime(time.time())

time.struct_time(tm_year=2021, tm_mon=1, tm_mday=5, tm_hour=14, tm_min=58, tm_sec=41, tm_wday=1, tm_yday=5, tm_isdst=0)

Now we can get the GMT time

In [ ]:
time.gmtime(time.time())

time.struct_time(tm_year=2021, tm_mon=1, tm_mday=5, tm_hour=14, tm_min=58, tm_sec=41, tm_wday=1, tm_yday=5, tm_isdst=0)

## Working with string functions

Python come with a very useful set of functions to work with strings.

In [ ]:
string = " I am learning  data  analysis at Ironhack  . It is  super easy "
string.lower()

' i am learning  data  analysis at ironhack  . it is  super easy '

In [ ]:
string.upper()

' I AM LEARNING  DATA  ANALYSIS AT IRONHACK  . IT IS  SUPER EASY '

In [ ]:
'34'.isdigit() # does not work with decimal numbers

True

In [ ]:
'34.7'.isdigit() # does not work with decimal numbers

False

Streep one blank space for the left

In [ ]:
string.lstrip()

'I am learning  data  analysis at Ironhack  . It is  super easy '

Doing the same from the rigth

In [ ]:
string.rstrip()

' I am learning  data  analysis at Ironhack  . It is  super easy'

Getting a list of elements from the string split by a blank space.

In [ ]:
string.split()

['I',
 'am',
 'learning',
 'data',
 'analysis',
 'at',
 'Ironhack',
 '.',
 'It',
 'is',
 'super',
 'easy']

Doing the same but ussing another element as element sepparator.

In [ ]:
string.split('.')

[' I am learning  data  analysis at Ironhack  ', ' It is  super easy ']

Now, let's make some replacements.

In [ ]:
string.replace('  ', '')

' I am learningdataanalysis at Ironhack. It issuper easy '

## Activity 4

1. Create a user-defined function to clean the column state in the dataframe.

Use string functions to standardize the states to uppercase and use the strip function to clean the strings as well.